.HomePage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    .bottom{
        display: flex;
        flex-grow: 1;
        overflow-y: scroll;
        justify-content: space-between;
    }
}