@import "../../../Helper/all.scss";
@mixin shareoptions() {

    // Styles for the sharebottom div
    .Createoptions {
        @include flex_row();
        justify-content: space-evenly;

        >.item {
            @include flex_row();
            align-items: center;
            margin: pxtoem(5px) pxtoem(15px);
            cursor: pointer;

            svg {
                font-size: pxtoem(18px);
                margin-right: pxtoem(3px);
            }

            .text {
                font-size: pxtoem(14px);
                font-weight: 500;
            }
        }
    }
}

$padding : 10px;
.Create_Component {
    margin-top: 10px;
    width    : 100%;
    height: fit-content;
    @include box_shadow(0px , 0px );
    @include border(10px);
    background-color: white;
    padding:$padding;

    .Create_top {
        @include flex_row();
        align-items: center;
        gap: pxtoem(5px);
        .Createprofileimg {
            @include person_pic(5px);
        }
        .text {
            font-size: pxtoem(16px);
            border: none;
            width: 80%;
            outline: none;
        }
    }

    .Createhr {
        margin: pxtoem(10px) 0px;
    }

    @include shareoptions();
}


body.ColorTheme_1 .Create_Component{
    background-color: $secound_color  ;
    .Create_top p{ color: $sixth_color;}
}