@import "./../../Helper/all.scss";
@mixin Logo_Search(){
    .Logo_Search{
        @include flex_row();
        align-items: center;
        gap: 10px;
        .brand{
            @include flex_row();
            align-items: center;
            gap: 10px;
            color: $first_color;
            p{
                display: none;
            }
            img{
                @include square(30px);
                color: white;
            }
        }
    }
}
@mixin Left_Icons(){
    .Left_Icons{
        display: flex;
        gap: 10px;
        div {
            @include square(30px);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $secound_color;
            @include border(50px);
            svg{font-size: 17px;}
        }
        div.profile{
            img{
                @include square(30px);
                object-fit: cover;
                @include border(50px);
}
        }
    }
}
@mixin Main_Links(){
    .Main_Links{
        width: 500px;
        display: flex;
        height: 100%;
        div.icon{
            flex: 0 0 calc(20%);
            min-width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 0px 3px;
            &.active{
                border-bottom: 2px solid $secound_color;
                svg{
                    color: $secound_color;
                }
            }
            svg{
                color: $secound_color;
                
            }
        }
    }
}

.Topbar_component{
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    padding: 0px 5px;
    background-color: $first_color;
    @include shadow(1px , 1px);
    @include Logo_Search();
    @include Main_Links();
    @include Left_Icons();
}
@media (max-width : 900px) {
    .Topbar_component{
        flex-direction: column;
        height: fit-content;
        gap: 2px;
        .Logo_Search{
            width: 100%;
            justify-content: space-between;
            padding: 5px 0px 0px;
            .brand {
                p{display: block;
                color: white;font-size: 20px;
                font-family: cursive;}
                img{@include square(25px);}
            }}
        .Left_Icons{display: none;}
        .Main_Links{
            svg {font-size: 20px;}
            max-width: 500px;
            width: 100vw;
        }
    }
}
@media (max-width :500px) {
    .Topbar_component {
        .Logo_Search .brand {
            p {font-size: 17px;}
            img{@include square(23px);}
        }
        .Main_Links {
            svg {font-size: 15px;}
            max-width: 500px;
        }
    }
}