.Topbar_component {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  padding: 0px 5px;
  box-shadow: 1px 1px 16px -8px rgba(0, 0, 0, 0.68);
}
.Topbar_component .Logo_Search {
  min-width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.Topbar_component .Logo_Search .brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.Topbar_component .Logo_Search .brand p {
  display: none;
}
.Topbar_component .Logo_Search .brand img {
  width: 1.875em;
  height: 1.875em;
}
.Topbar_component .Main_Links {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 100%;
  justify-content: center;
}
.Topbar_component .Main_Links .icon {
  flex: 0 0 20%;
  min-width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px;
}
.Topbar_component .Main_Links .icon.active {
  border-bottom: 2px solid;
}
.Topbar_component .Main_Links .icon.small_screen {
  display: none;
}
.Topbar_component .Main_Links .icon.big_screen {
  display: flex;
}
.Topbar_component .Left_Icons {
  min-width: 250px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.Topbar_component .Left_Icons > div {
  width: 1.875em;
  height: 1.875em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.Topbar_component .Left_Icons > div svg {
  font-size: 17px;
}
.Topbar_component .Left_Icons div.profile img {
  width: 1.875em;
  height: 1.875em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

@media (max-width: 900px) {
  .Topbar_component {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    gap: 2px;
  }
  .Topbar_component .Logo_Search {
    width: 100%;
    justify-content: space-between;
    padding: 5px 0px 0px;
  }
  .Topbar_component .Logo_Search .brand p {
    display: block;
    color: white;
    font-size: 20px;
    font-family: cursive;
  }
  .Topbar_component .Logo_Search .brand img {
    width: 1.5625em;
    height: 1.5625em;
  }
  .Topbar_component .Left_Icons {
    display: none;
  }
  .Topbar_component .Main_Links {
    max-width: 500px;
    width: 100vw;
  }
  .Topbar_component .Main_Links svg {
    font-size: 20px;
  }
  .Topbar_component .Main_Links .icon {
    padding: 0px 0px 3px;
  }
  .Topbar_component .Main_Links .icon.big_screen {
    display: none !important;
  }
  .Topbar_component .Main_Links .icon.small_screen {
    display: flex !important;
  }
}
@media (max-width: 500px) {
  .Topbar_component .Logo_Search .brand p {
    font-size: 17px;
  }
  .Topbar_component .Logo_Search .brand img {
    width: 1.4375em;
    height: 1.4375em;
  }
  .Topbar_component .Main_Links {
    max-width: 500px;
  }
  .Topbar_component .Main_Links svg {
    font-size: 15px;
  }
}
.Topbar_component.ColorTheme_1 {
  background-color: #1877f2;
}
.Topbar_component.ColorTheme_1 .Logo_Search .brand p {
  color: white;
}
.Topbar_component.ColorTheme_1 .Left_Icons > div {
  background-color: white;
}
.Topbar_component.ColorTheme_1 .Left_Icons > div svg {
  color: black;
}
.Topbar_component.ColorTheme_1 .Main_Links .icon.active {
  border-color: white;
}
.Topbar_component.ColorTheme_1 .Main_Links .icon svg {
  color: white;
}/*# sourceMappingURL=Topbar.css.map */