@import "./../../Helper/all.scss";
@mixin Logo_Search(){
    .Logo_Search{
        @include flex_row();
        align-items: center;
        gap: 10px;
        .brand{
            @include flex_row();
            align-items: center;
            gap: 10px;
            p{display: none;}
            img{@include square(30px);}
        }
    }
}
@mixin Left_Icons(){
    .Left_Icons{
        display: flex;
        gap: 10px;
        > div {
            @include square(30px);
            @include flex_row();
            align-items: center;
            justify-content: center;
            @include border(50px);
            svg{font-size: 17px;}
        }
        div.profile{
            img{
                @include square(30px);
                object-fit: cover;
                @include border(50px);
}
        }
    }
}
@mixin Main_Links(){
    .Main_Links{
        @include flex_row();
        width: 500px;
        height: 100%;
        justify-content: center;
        .icon{
            flex: 0 0 calc(20%);
            min-width: 50px;
            @include flex_row();
            @include flex_center();
            padding: 0px 0px 3px;
            &.active{
                border-bottom: 2px solid;
            }
            &.small_screen{display: none;}
            &.big_screen{display: flex;}
        }
    }
}

.Topbar_component{
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    padding: 0px 5px;
    @include shadow(1px , 1px);
    @include Logo_Search();
    @include Main_Links();
    @include Left_Icons();
}
@media (max-width : 900px) {
    .Topbar_component{
        flex-direction: column;
        height: fit-content;
        gap: 2px;
        .Logo_Search{
            width: 100%;
            justify-content: space-between;
            padding: 5px 0px 0px;
            .brand {
                p{display: block;
                color: white;font-size: 20px;
                font-family: cursive;}
                img{@include square(25px);}
            }}
        .Left_Icons{display: none;}
        .Main_Links{
            svg {font-size: 20px;}
            max-width: 500px;
            width: 100vw;
            .icon.big_screen{display:  none !important;}
            .icon.small_screen{display: flex !important;}
        }
    }
}
@media (max-width :500px) {
    .Topbar_component {
        .Logo_Search .brand {
            p {font-size: 17px;}
            img{@include square(23px);}
        }
        .Main_Links {
            svg {font-size: 15px;}
            max-width: 500px;
        }
    }
}

.Topbar_component.ColorTheme_1{
    background-color: $first_color;
    .Logo_Search .brand p {
        color: $secound_color;
    }
    .Left_Icons >div{
        background-color: $secound_color;
        svg{color:$fifth_color;}
    }
    .Main_Links .icon {
        &.active{border-color: $secound_color;}
        svg{color: $secound_color;}
    }
}