.ProfilePage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap:2px;
        >.bottom {
            display: flex;
            flex-grow: 1;
            overflow-y: scroll;
            justify-content: center;

        }
}