@import "../Variable/Variable.scss";
@import "../Functions/Functions.scss";
@mixin flex_row{
    display: flex;
    flex-direction: row;
}
@mixin flex_column{
    display: flex;
    flex-direction: column;
}
@mixin flex_center{
    align-items: center;
    justify-content: center;
}
@mixin border($value){
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
}
@mixin square($value){
    width: pxtoem($value);
    height: pxtoem($value);
}
@mixin shadow($x , $y){
    box-shadow: $x $y $blur_radius $spread_radius $shadow_color;
}
// compontens 
@mixin person_pic($value: 0px)
{
    width : pxtoem(($value + 35px));
    height: pxtoem(($value + 35px));
    object-fit: cover;
    @include border(50px)
}

