@import "../Variable/Variable.scss";
@import "../Functions/Functions.scss";
@mixin flex_row{
    display: flex;
    flex-direction: row;
}
@mixin flex_column{
    display: flex;
    flex-direction: column;
}
@mixin flex_center{
    align-items: center;
    justify-content: center;
}
@mixin border($value){
    border-radius: pxtoem($value);
    -webkit-border-radius: pxtoem($value);
    -moz-border-radius: pxtoem($value);
    -ms-border-radius: pxtoem($value);
    -o-border-radius: pxtoem($value);
}
@mixin border_pre($value){
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
}
@mixin square($value){
    width: pxtoem($value);
    height: pxtoem($value);
}
@mixin shadow($x , $y , $blur : $blur_radius , $spread : $spread_radius){
    box-shadow: pxtoem($x) pxtoem($y) pxtoem($blur) pxtoem($spread) $shadow_color;
}
// compontens 
@mixin person_pic($value: 35px , $border:50px )
{
    @include square(($value));
    object-fit: cover;
    @include border($border)
}
@mixin Cards_Filter(){
    backdrop-filter: blur(2px);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    @include flex_row();
    @include flex_center();
}
@mixin Normal_button{
    border: none;
    outline: none;
    cursor: pointer;
}
@mixin Loader($color : white){
    .loader {
            width: 48px;
            height: 48px;
            border: 5px solid $color;
            border-bottom-color: transparent;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: rotation 1s linear infinite;
        }
        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
}
