// order colors
$first_color : #1877f2;
$secound_color: white;
$third_color : red;
$fourth_color :rgba(128, 128, 128, 0.16);
$fifth_color : black;
$sixth_color : gray;
$seventh_color:goldenrod;
// meaning colors
$first_online : limegreen;
// Variables
$baseFontSize : 16px;
//css
$spread_radius: -8px;
$blur_radius : 16px;
$shadow_color :rgba(0, 0, 0, 0.68);
// components
$Topbar_height : 50px;
$sidebarwidth : 300px;
$maxPostwidth : 550px;