.Confirm_Component {
  height: 100%;
  width: 100%;
  gap: 1.25em;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Confirm_Component .header {
  color: goldenrod;
  font-weight: 500;
  font-size: 1.5625em;
  text-transform: capitalize;
}
.Confirm_Component .Timer {
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
  width: 2.5em;
  height: 2.5em;
}
.Confirm_Component .Timer .Bigcircle {
  height: 100%;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Confirm_Component .Timer .Bigcircle .Smallcircle {
  height: calc(100% - 0.625em);
  width: calc(100% - 0.625em);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}
.Confirm_Component .Timer .Bigcircle .Smallcircle p {
  font-size: 1.125em;
}
.Confirm_Component .Buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625em;
  margin-top: 0.625em;
}
.Confirm_Component .Buttons button {
  padding: 0.3125em 0.625em;
  border: none;
  background-color: rgba(194, 194, 194, 0.232);
  color: black;
  font-weight: 500;
  width: 9.375em;
  text-transform: capitalize;
  margin: 0px 0.3125em;
  font-size: 0.8125em;
  background-color: #1877f2;
  color: white;
  cursor: pointer;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}
.Confirm_Component .Buttons button {
  font-size: 0.75em;
}
.Confirm_Component .Buttons .Firstlevelbuttons {
  display: flex;
  flex-direction: row;
}
.Confirm_Component .Inputbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625em;
}
.Confirm_Component .Inputbox .Inputs {
  display: flex;
  flex-direction: row;
  gap: 0.625em;
}
.Confirm_Component .Inputbox .Inputs input {
  width: 1.875em;
  height: 1.875em;
  text-align: center;
  border: 0.0625em solid;
  outline: none;
}
.Confirm_Component .Inputbox .Inputs input::-webkit-outer-spin-button, .Confirm_Component .Inputbox .Inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.Confirm_Component .Inputbox .Label {
  font-size: 0.9375em;
}
.Confirm_Component .Header {
  font-size: 1em;
}

body.ColorTheme_1 .Confirm_Component {
  background-color: white;
}
body.ColorTheme_1 .Confirm_Component .Header {
  color: goldenrod;
}
body.ColorTheme_1 .Confirm_Component .Timer .Bigcircle {
  background-color: green;
}
body.ColorTheme_1 .Confirm_Component .Timer .Smallcircle {
  background-color: white;
}
body.ColorTheme_1 .Confirm_Component .Inputbox .Inputs input {
  border-color: #1877f2;
}/*# sourceMappingURL=Confirm.css.map */