@import "../../../Helper/all.scss";
@import "../Commen/Commen.scss";

@mixin timer() {
    div.timer {
        $border : 50px;
        $diff : pxtoem(10px);
        @include border(50px);
        @include square(40px);

        div.Bigcircle {
            height: 100%;
            @include border(50px);
            background-color: green;
            @include flex_row();
            @include flex_center();

            div.Smallcircle {
                background-color: white;
                height: calc(100% - $diff);
                width: calc(100% - $diff);
                @include flex_row();
                @include flex_center();
                @include border($border);

                p {
                    font-size: pxtoem(18px);
                }
            }
        }
    }
}



.ConfirmComponent {
    height: 100%;
    width: 100%;
    background-color: white;
    @include header();
    @include flex_column();
    @include timer();
    @include button();
    gap: pxtoem(20px);
    align-items: center;

    .buttons {
        button {
            font-size: pxtoem(12px);
        }

        @include flex_column();
        @include flex_center();
        gap: pxtoem(10px);
        margin-top: pxtoem(10px);
    }

    .firstlevelbuttons {
        @include flex_row();
    }

    .header {
        font-size: pxtoem(16px);
    }

    form .inputbox {
        @include flex_column();
        @include flex_center();
        gap: pxtoem(10px);

        .inputs {
            @include flex_row();
            gap: pxtoem(10px);

            input {

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                @include square(30px);
                text-align: center;
                border: pxtoem(1px) solid $first_color;
                outline: none;
            }
        }

        .label {
            font-size: pxtoem(15px);
        }
    }
}