@import "../../../Helper/all.scss";



@mixin Top_Profile_part() {
    $img_dimantions : 100px; // user img in the top note i don`t mean the secound one
    $img_padding_top_bottom: 10px; // .... padding 
    $img_padding_left_right: 10px;
    $img_all_height : calc($img_padding_top_bottom * 2 + $img_dimantions);
    $img_all_width : calc($img_padding_left_right * 2 + $img_dimantions);
    >.Top {
        width: 100%;
        @include flex_column();
        img.SecoundImg{
            width: 100%;
            height: pxtoem(250px);
            object-fit: cover
        }
        .smallinfo{
            min-height: pxtoem(calc($img_all_height / 2));
            padding-left:pxtoem($img_all_width);
            position: relative;
            @include border(5px);
            img.MainImg {
                    @include square($img_dimantions);
                    @include border_pre(50%);
                    object-fit: cover;
                    position: absolute;
                    top: - pxtoem(calc($img_all_height / 2));
                    left: 0px;
                    padding: pxtoem($img_padding_top_bottom) pxtoem($img_padding_left_right);
                }
            .Box{
                @include flex_row();
                height: 100%;
                align-items: center; 
                justify-content: space-between; 
                padding-right:pxtoem(10px) ;  
                p.username{font-size: pxtoem(19px);}
                .actions{
                    @include flex_row();
                    align-items: center;
                    gap: pxtoem(5px);
                    button{
                        @include flex_row();
                        gap: pxtoem(3px);
                        font-size: pxtoem(16px);
                        svg{font-size: pxtoem(17px);}
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
@mixin middel_profile_part() {
    .middel {
        @include flex_row();
        padding: pxtoem(10px) pxtoem(15px) 0px;
        @include border(10px);
        gap: pxtoem(15px);
        button {
            text-transform: capitalize;
            font-size: pxtoem(17px);
            border: none;
            padding: 0px pxtoem(10px) pxtoem(10px);
            cursor: pointer;
            &.active {
                font-weight: 500;
                border-bottom:pxtoem(2px) solid;
            }
        }
    }
}
// Bottoms Options
@mixin Main(){
    >.Main{
        @include flex_row();
        width: 100%;
        justify-content: space-between;
        .right {
            width: 55%;
            @include flex_column();
            align-items: center;
        }
        .left {
            width: 42%;
            .info_box {
                height: fit-content;
                @include shadow(1px, 1px);
                @include border(10px);
                @include flex_column();
                margin: pxtoem(10px) pxtoem(0px);
                gap: pxtoem(10px);
                padding: pxtoem(15px);
                .header{text-transform: capitalize}
                .infobox_Content {
                    @include flex_column();
                    gap: pxtoem(5px);
                    .info_item {
                        p.sparate {font-weight: 500;}
                        @include flex_row();
                        gap: pxtoem(10px);
                        font-size: pxtoem(15px);
                        p.title {
                            @include flex_row();
                            gap: pxotem(5px);
                            align-items: center;
                            svg{font-size:pxtoem(14px);}
                            width: pxtoem(60px);
                            font-size: pxtoem(15px);
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        }
                    }
                }
            }
            .friends {
                @include shadow(1px, 1px);
                @include border(10px);
                @include flex_column();
                margin: pxtoem(10px) pxtoem(0px);
                gap: pxtoem(10px);
                .header {
                    @include flex_column();
                    gap: pxtoem(3px);
                    padding: pxtoem(5px);
                    .levelone {
                        @include flex_row();
                        justify-content: space-between;
                        button {
                            font-size: pxtoem(16px);
                            border: none;
                            color: $first_color;
                            cursor: pointer;
                        }
                    }
                    .leveltwo {
                        font-size: pxtoem(14px);
                    }
                }
                .content {
                    @include flex_row();
                    flex-wrap: wrap;
                    justify-content: center;
                    @include border(8px);
                    .friend {
                        cursor: pointer;
                        margin-bottom: pxtoem(5px);
                        flex-basis: 33%;
                        @include border(5px);
                        @include flex_column();
                        align-items: center;
                        gap: pxtoem(5px);
                        p {font-size: pxtoem(12px)}
                        img {
                            @include square(100px);
                            object-fit: cover;
                            @include border(10px);
                        }
                    }
                }
            }
        }
    }
}
@mixin Friends(){
    .Friends{
        @include flex_row();
        margin-bottom: pxtoem(10px);
        flex-wrap: wrap;
        gap: pxtoem(10px);
        justify-content: center;
        .Friend{
            @include flex_row();
            padding: pxtoem(10px);
            min-width: pxtoem(300px);
            gap: pxtoem(5px);
            flex-basis: 30%;
            @include border(10px);
            .text{
                
                @include flex_row();
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .icons{
                    svg{
                        font-size: pxtoem(19px);
                        &:hover{color: $first_color}
                        cursor: pointer;
                    }
                }
            }
            img{
                @include square(50px);
                @include border(15px);
                object-fit: cover;
            }
        }
    }
}
@mixin bottom_profile_part(){
    > .bottom{ 
        width: 100%;
        @include Main();
        @include Friends()
    }
}
.ProfileShap_Component {
    @include flex_column();
    gap: pxtoem(10px);
    width: 70%;
    @include Top_Profile_part();
    @include middel_profile_part();
    @include bottom_profile_part();
}
// Responsoive
@media (max-width : 1080px) {
    .ProfileShap_Component>.bottom>.Main {
        @include flex_column();
        >.left , >.right{width: 100%;}
        >.left{
            font-size: 14px;
            gap: 20px;
        }
    }
}
@media (max-width : 650px) {
    .ProfileShap_Component{
        width: 85%;
        font-size: 14px;
    }
}
@media (max-width : 500px) {
    .ProfileShap_Component {
        width: 95%;
        font-size: 12px;
        .Top{font-size: 10px;}
        .Friends .Friend{flex-basis: 100% !important;}
    }
}
@media (max-width : 400px) {
    .ProfileShap_Component {
        font-size: 9px;
        >.bottom>.Main>.left {font-size: 10px;}
    }
}
// Color
body.ColorTheme_1 .ProfileShap_Component{
        >.Top{
            .smallinfo{
                background-color: $secound_color;
                .Box .actions {
                    >svg{color : $fifth_color;}
                    button{color: $first_color; background-color:$secound_color;}
            }
            }
        }
        >.middel{
            background-color: $secound_color;
            >button{
                    background-color: $secound_color;
                    color: $fifth_color;
                    &.active{color: $first_color;} 
                    border-bottom-color: $first_color; 
                }
        }
        >.bottom{
            >.Main >.left {
                    .info_box{
                        .infobox_Content .info_item{
                            color: $seventh_color;
                            p.sparate{color: $fifth_color;}
                            p.title{color: $first_color;}
                        }
                        background-color: white;
                    }
                    .friends{
                        background-color: $secound_color;
                        >   .header{
                            .levelone{button{background-color: $secound_color;}}
                            .leveltwo{color: $sixth_color;}
                        }
                    }
            }
            >.Friends .Friend{
                background-color: $secound_color;
                .text .icons svg{color: $fifth_color; &:hover{color: $first_color;}}
            }
        }
    
} 
//Lang