@import "../../../../Helper/all.scss";

@mixin Content_info_Post(){
    form.Content_info_Post{
        width: 100%;
        height: 100%;
        @include flex_column();
        justify-content: space-between;
        gap: 10px;
        .info{
            @include flex_column();
            justify-content: center;
            gap: 10px;
            textarea {
                    min-height: 80px;
                    width: 99%;
                    padding: 5px;
                    border: none;
                    outline: none;
                    resize: none;
                    max-height: pxtoem(300px);
                    &::-webkit-scrollbar{width: 4px;}
                    @include shadow(1px , 1px);
                }
            .media{
                @include flex_row();
                gap: 10px;
                .box{
                    input {
                        display: none;
                    }
                    label {cursor: pointer;}
                }
            }
            .ShowMedia{
                width: 100%;
                font-size: 9px;
                @include flex_row();
                justify-content: center;
                img{@include square(500px); object-fit: contain;}
            }
        }
        >button{width: fit-content; padding: 5px 10px; border: none; outline: none;
                background-color: $first_color; font-size: 16px;
                color: $secound_color;
                font-weight: 500;
                @include border(10px);
        }
    }
}
@mixin Main_Form(){
    .Main_Form{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        &::-webkit-scrollbar {
                width: 0px;
            }
        .top{
            @include flex_row();   
            align-items: center;
            gap: pxtoem(10px); 
            img{
                @include square(35px);
                object-fit: cover;
                @include border(50px);
            }
            p{
                font-size: pxtoem(16px);
            }
        }
        >.bottom{
            display: flex;
            flex-grow: 1;
            padding: 10px;
            width: 100%;
            @include Content_info_Post();
        }
    }
}
.PostForm_Component{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: #8080801c;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 50vw;
        height: 80vh;
        padding: 15px 20px;
        background-color: white;
        @include border(50px);
        @include Main_Form();
    }
}