@import "../../../../Helper/all.scss";
@import "../../Post.scss";

@mixin ShowMedia(){
    .ShowMedia {
            @include flex_row();
            justify-content: center;
            font-size: pxtoem(9px);
            width: 100%;
            img {
                max-width: 100%;
                min-width : pxtoem(500px);
                min-height: pxtoem(500px);
                max-height: pxtoem(600px);
            }
        }
}
@mixin Textarea(){
    textarea {
            min-height: pxtoem(80px);
            max-height: pxtoem(300px);
            font-size: pxtoem(18px);
            padding: pxtoem(5px);
            @include shadow(1px, 1px , 6px ,-3px);
            width: 98%;
            border: none;outline: none;resize: none;
            margin: 0px auto;
            &::-webkit-scrollbar {
                width: pxtoem(4px);
            }
        }
}
@mixin MediaInputs(){
    .Media {
            @include flex_row();
            gap: pxtoem(10px);
            .Box {
                input {display: none;}
                label {cursor: pointer;}
            }
        }
}
@mixin Content_info_Post(){
    div.Content_info_Post{
        width: 100%;
        height: 100%;
        @include flex_column();
        justify-content: space-between;
        gap: pxtoem(10px);
        .Info{
            justify-content: center;
            gap: pxtoem(10px);
            @include flex_column();
            @include ShowMedia();
            @include Textarea();
            @include MediaInputs();
            @include Newtype();
            .New{
                width: 80%;
                margin: 0px auto ;
                font-size: pxtoem(12px);
            }
        }
        >button{
                width: fit-content;
                padding: pxtoem(5px) pxtoem(10px);
                border: none;outline: none;
                font-size: pxtoem(16px);
                font-weight: 500;
                @include border(10px);
        }
    }
}
@mixin Main_Form(){
    .Main_Form{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        @include flex_column();
        >.Top{
            @include flex_row();
            justify-content: space-between;
            align-items: center;
            .Userinfo{
            @include flex_row();
                align-items: center;
                gap: pxtoem(10px);
                img {@include person_pic(40px);}
                p.Text {font-size: pxtoem(16px);}
            }
            svg{font-size: pxtoem(22px);}
        }
        >.Middel{
            padding: pxtoem(10px);
            width: 100%;
            >.Container{
                @include shadow(1px, 1px, 6px, -3px);
                width: 98%;
                margin: 0px auto;
                @include flex_row();
                gap: pxtoem(5px);
                >.option{
                    padding: pxtoem(5px) pxtoem(4px);
                    font-size: pxtoem(13px);
                    width: fit-content;
                    cursor: pointer;
                    &.active{
                        border-bottom:2px solid $first_color;
                    }
                }
            }
            }
        >.Bottom{
            flex-grow: 1;
            padding: pxtoem(10px);
            width: 100%;
            @include flex_row();
            @include Content_info_Post();
        }
        &::-webkit-scrollbar {
                width: 0px;
        }
    }
}
.PostForm_Component{
    @include Cards_Filter();
    >.Container{
        width: 50vw;height: fit-content;
        min-height: pxtoem(250px);
        padding: pxtoem(15px) pxtoem(20px);
        @include flex_row();@include flex_center();
        @include border(50px);
        @include Main_Form();
    }
}

// Media
@media (max-width:1024px) {
    .PostForm_Component{
        >.Container{width: 70vw;}
    }
}
@media (max-width:770px) {
    .PostForm_Component {
        >.Container {
            width: 90vw;
            font-size: pxtoem(12px);
        }
    }
}
@media (max-width:500px) {
    .PostForm_Component {
        >.Container {
            width: 95vw;
            height: 50vh;
            @include border(10px);   
            font-size: pxtoem(12px);

        .Main_Form .Bottom .Content_info_Post .Info {
            .ShowMedia{margin: pxtoem(20px) 0px;}
            .New{font-size: pxtoem(16px) !important; }
            }

        }
    }
}
// Colors 
body.ColorTheme_1 .PostForm_Component{
    background-color: #8080801c;
    >.Container {
        background-color: $secound_color;
        .Main_Form .Content_info_Post button{
            color: $secound_color;
            background-color: $first_color;
        }
    }
}
