.Comment {
  font-size: 0.8125em;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 2px;
}
.Comment .Post_Comment {
  display: flex;
  flex-direction: row;
  gap: 0.3125em;
  align-items: center;
}
.Comment .Post_Comment > img {
  width: 1.875em;
  height: 1.875em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 3px 0px;
}
.Comment .Post_Comment .Setting {
  position: relative;
  height: 100%;
}
.Comment .Post_Comment .Setting svg {
  font-size: 1.125em;
  cursor: pointer;
}
.Comment .Post_Comment .Setting .Setting_Box {
  z-index: 9000;
  position: absolute;
  right: 0px;
  top: 0.625em;
  background-color: rgb(255, 255, 255);
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  box-shadow: 0.1875em 0.1875em 0.8125em -0.5em rgba(0, 0, 0, 0.68);
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
}
.Comment .Post_Comment .Setting .Setting_Box .container {
  min-width: 12.5em;
}
.Comment .Post_Comment .Setting .Setting_Box .container ul {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  text-transform: capitalize;
}
.Comment .Post_Comment .Setting .Setting_Box .container ul li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.299);
  cursor: pointer;
  padding: 5px 3px 10px;
  font-size: 0.8125em;
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
}
.Comment .Post_Comment .Setting .Setting_Box .container ul li:hover {
  background-color: rgba(128, 128, 128, 0.051);
}
.Comment .Post_Comment .Setting .Setting_Box .container ul li:last-child {
  border-bottom: none;
}
.Comment .Post_Comment > .info {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  max-width: 90%;
  gap: 0.1875em;
}
.Comment .Post_Comment > .info .Up {
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  background-color: rgba(172, 170, 170, 0.12);
  padding: 0.375em;
  gap: 0.125em;
  display: flex;
  flex-direction: column;
}
.Comment .Post_Comment > .info .Up .NameAndTime {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  align-items: center;
}
.Comment .Post_Comment > .info .Up .NameAndTime .Name {
  font-size: 0.9375em;
  font-weight: 500;
}
.Comment .Post_Comment > .info .Up .NameAndTime .Time {
  font-size: 0.75em;
}
.Comment .Post_Comment > .info .Content {
  margin-left: 0.4375em;
  font-size: 1.0625em;
  display: flex;
  flex-direction: column;
  gap: 0.3125em;
}
.Comment .Post_Comment > .info .Content img {
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  width: 18.75em;
  height: 18.75em;
  -o-object-fit: cover;
     object-fit: cover;
}
.Comment .Post_Comment > .info .Actions {
  background-color: white;
}
.Comment .Post_Comment > .info .Actions .Reacts {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
  font-size: 0.8125em;
}
.Comment .Post_Comment > .info .Actions .Reacts div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.125em;
}
.Comment .Post_Comment > .info .Actions .Reacts div SVG {
  font-size: 13px;
  color: goldenrod;
  cursor: pointer;
}

.CommentsBox {
  height: 0px;
  overflow: hidden;
}
.CommentsBox > .Container {
  padding: 0.625em;
  height: 21.875em;
  border: 0.0625em solid rgba(0, 0, 0, 0.431372549);
  border-top: none;
  border-bottom-right-radius: 0.625em;
  border-bottom-left-radius: 0.625em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CommentsBox > .Container .Header {
  padding-bottom: 0.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.125em solid rgba(0, 0, 0, 0.162);
}
.CommentsBox > .Container .Header p {
  font-size: 0.75em;
}
.CommentsBox > .Container .Header .Order {
  display: flex;
  flex-direction: row;
  gap: 0.3125em;
  align-items: center;
}
.CommentsBox > .Container .Header .Order label {
  font-size: 0.75em;
}
.CommentsBox > .Container .Header .Order select {
  font-size: 0.75em;
  border: none;
  outline: none;
}
.CommentsBox > .Container .Opinion {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 0.625em;
  border-top: 1px solid rgba(0, 0, 0, 0.431372549);
  padding-top: 5px;
}
.CommentsBox > .Container .Opinion img {
  width: 1.25em;
  height: 1.25em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.875em;
  -webkit-border-radius: 1.875em;
  -moz-border-radius: 1.875em;
  -ms-border-radius: 1.875em;
  -o-border-radius: 1.875em;
}
.CommentsBox > .Container .Opinion input {
  flex: 1;
  outline: none;
  padding: 0.25em 0.125em;
  text-indent: 0.375em;
  border: 0.0625em solid black;
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  font-size: 0.75em;
  min-height: 1.875em;
}
.CommentsBox > .Container .Opinion svg {
  font-size: 1.125em;
}
.CommentsBox > .Container .Opinion svg :hover {
  color: #1877f2;
  cursor: pointer;
}
.CommentsBox > .Container .Comments {
  width: 100%;
  display: flex;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 0.5em 0px;
  gap: 0.4375em;
  display: flex;
  flex-direction: column;
}
.CommentsBox > .Container .Comments .Loading_Content {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 99%;
}
.CommentsBox > .Container .Comments .Loading_Content .background {
  margin: 0.625em 0px;
  width: 95%;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.CommentsBox > .Container .Comments::-webkit-scrollbar {
  width: 0.125em;
}
.CommentsBox.Show {
  animation: Comment_Box_Show 0.2s forwards;
  -webkit-animation: Comment_Box_Show 0.2s forwards;
}
.CommentsBox.Hide {
  animation: Comment_Box_Hide 0.2s forwards;
  -webkit-animation: Comment_Box_Hide 0.2s forwards;
}

body.ColorTheme_1 .Comments .Loading_Content .background .loader {
  width: 48px;
  height: 48px;
  border: 5px solid #1877f2;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes Comment_Box_Show {
  0% {
    height: 0px;
  }
  100% {
    height: 21.875em;
  }
}
@keyframes Comment_Box_Hide {
  0% {
    height: 21.875em;
  }
  100% {
    height: 0px;
  }
}/*# sourceMappingURL=PostCommentsBox.css.map */