.Rightbar_Component {
  width: 250px;
}
.Rightbar_Component .Home {
  padding-top: 0.625em;
}
.Rightbar_Component .Home .birthday {
  display: flex;
  align-items: center;
}
.Rightbar_Component .Home .birthday .birthdayimg {
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.625em;
}
.Rightbar_Component .Home .birthday .birthdaytext {
  font-weight: 300;
  font-size: 0.9375em;
}
.Rightbar_Component .Home .birthday .birthdaytext b {
  font-size: 0.9375em;
}
.Rightbar_Component .Home .Online .OnlineFriendsList .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.9375em;
}
.Rightbar_Component .Home .Online .OnlineFriendsList .item .Left {
  margin-right: 0.625em;
  position: relative;
}
.Rightbar_Component .Home .Online .OnlineFriendsList .item .Left img {
  width: 2.5em;
  height: 2.5em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}
.Rightbar_Component .Home .Online .OnlineFriendsList .item .Left .Icon {
  width: 0.75em;
  height: 0.75em;
  position: absolute;
  top: -0.125em;
  right: 0;
  border: 0.125em solid;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}
.Rightbar_Component .Home .Online .OnlineFriendsList .item .Right .name {
  font-weight: 500;
}
.Rightbar_Component .Home .sponsers .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625em;
}
.Rightbar_Component .Home .sponsers .box img {
  width: 7.5em;
  height: 7.5em;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
}
.Rightbar_Component .Home .sponsers .box .discreption {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.3125em;
}
.Rightbar_Component .Home .sponsers .box .discreption span.title {
  font-size: 1.125em;
}
.Rightbar_Component .Home .sponsers .box .discreption span.Description {
  font-size: 0.875em;
  opacity: 90%;
}
.Rightbar_Component .rightbartitle {
  font-size: 1.125em;
  font-weight: 500;
  margin-bottom: 0.625em;
}
.Rightbar_Component .rightbarinfo {
  margin-bottom: 1.875em;
}
.Rightbar_Component .rightbarinfo .rightbarinfoitem {
  margin-bottom: 0.625em;
}
.Rightbar_Component .rightbarinfo .rightbarinfoitem .rightbarinfokey {
  font-weight: 500;
  margin-right: 0.9375em;
  color: #555;
}
.Rightbar_Component .rightbarinfo .rightbarinfoitem .rightbarinfovalue {
  font-weight: 300;
}
.Rightbar_Component .rightbarfollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Rightbar_Component .rightbarfollowings .rightbarfollowing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.Rightbar_Component .rightbarfollowings .rightbarfollowing .rightbarfollowingimg {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
body.ColorTheme_1 .Rightbar_Component .Home .Online .OnlineFriendsList .item .Left .Icon {
  background-color: limegreen;
  border-color: white;
}

body.Ar .Rightbar_Component .Home .birthday .birthdaytext {
  direction: rtl;
  padding-right: 0.625em;
}

@media (max-width: 1150px) {
  .Rightbar_Component {
    display: none;
  }
}
@media (max-width: 900px) {
  .Rightbar_Component {
    display: block;
    font-size: 0.875em;
    position: sticky;
    top: 0px;
  }
}
@media (max-width: 700px) {
  .Rightbar_Component {
    display: none;
  }
}/*# sourceMappingURL=Rightbar.css.map */