@import "../../Helper/all.scss";
@mixin Userinfo() {
    .UserInfo {
        @include flex_row();
        align-items: center;
        justify-content: space-between;
        .Info {
            @include flex_row();
            align-items: center;
            cursor: pointer;
            img {@include person_pic(40px)}
            .Username {
                font-size: pxtoem(14px); font-weight: 500;
                margin: 0px pxtoem(10px);
            }
            .Time {font-size: pxtoem(11px);}
        }
        @include Setting();
    }
}
@mixin Content() {
    .Content {
        .Text {
            margin: 0px pxtoem(10px);
            font-size: pxtoem(15px);
        }
        img {
            margin-top: pxtoem(10px);
            width: 100%;
            max-height: pxtoem(500px);
            object-fit: contain;
        }
    }
}
@mixin Analysis() {
    .Analysis {
        @include flex_row();
        align-items: center;
        justify-content: space-between;
        .Likes {
            @include flex_row();
            align-items: center;
            .Reactions{
                .Icon {
                        @include square(17px);
                        margin-right: pxtoem(5px);
                        cursor: pointer;
                    }
            }
            .ReactsNumber {font-size: pxtoem(13px);}
        }
        .Comments {cursor: pointer ; font-size: pxtoem(13px);}
    }
}
@mixin Reacts(){
    .Item.Reacts{
        .Icons{
                position: absolute;
                img {@include square(27px)};
                bottom: calc(100% + 5px);
                padding: pxtoem(4px);
                align-items: center;
                gap: pxtoem(10px);
                @include flex_row();
                @include shadow(1px, 1px);
                @include border(50px);
                img:hover {
                    @include square(35px)
                }
            }
        &.Like , &.Love{
            @include border(10px);
            border-color: none;
        }
    }
}
@mixin Actions() {
    .Actions {
        @include flex_row();
        margin-top: pxtoem(5px);
        position: relative;
        .Item {
            flex-basis: 33%;
            text-align: center;
            font-size: pxtoem(14px);
            border-right: pxtoem(0.5px) solid ;
            cursor: pointer;
            padding: pxtoem(3px) 0px;
        }
        @include Reacts();
    }
}
@mixin Newtype(){
    .New {
        background-color: white;
        padding: pxtoem(10px);
        gap: pxtoem(10px);
        @include shadow(2px, 2px);
        @include border(10px);
        @include flex_column();

        @include Userinfo();
        @include Content();
        @include Analysis();
        @include Actions();
    }
}
@mixin Share(){
    .Share {
            @include Userinfo();
            @include Content();
            @include Analysis();
            @include Actions();

            @include Newtype();

            @include shadow(2px, 2px);
            @include flex_column();
            gap: pxtoem(10px);
            padding : pxtoem(10px);
            > .New {
                border: pxtoem(1px) solid ;
                margin: 0px auto;
                box-shadow: none;
                font-size: pxtoem(13px);
                width: 98%;
                .UserInfo .Info img{@include person_pic()}
            }
        }
}
@mixin Setting(){
    .Setting {
        position: relative;
        height: 100%;
        svg{font-size: pxtoem(18px);cursor: pointer;}
        .Setting_Box{
            z-index: 9000;
            position: absolute;
            right: 0px;
            top: pxtoem(10px);
            background-color: rgb(255, 255, 255);
            height: fit-content;
            width: fit-content;
            padding: 5px;
            @include shadow(3px , 3px , 13px , -8px);
            @include border(10px);  
            .container{
                min-width: pxtoem(200px);
                ul{
                    @include flex_column();
                    gap: pxtoem(10px);
                    text-transform: capitalize;
                    li{
                        border-bottom: 1px solid rgba(128, 128, 128, 0.299);
                        cursor: pointer;
                        padding: 5px 3px 10px;
                        font-size: pxtoem(13px);
                        @include border(10px);
                        &:hover{
                            background-color:rgba(128, 128, 128, 0.051) ;
                        }
                        &:last-child{
                            border-bottom: none;
                        }
                    }
                
                }
            }
        }
        
    }
}
@mixin Component{
    margin: pxtoem(10px) 0px;
    width: 100%;
    @include border(10px);
}
// Components 
.Null_Post_Component{
    font-size: pxtoem(16px);
    font-weight: 500;
    text-align: center;
    margin: pxtoem(30px) 0px ;
    text-transform: capitalize;
    
}
.Loading_Post_Component{
    @include Userinfo();
    @include Component();
    .Content{
        width: 100%;
        display: flex;
        justify-content: center;
        .background{
            margin: pxtoem(10px) 0px;
            width: 95%;
            height: pxtoem(200px);
            object-fit: contain;
            @include flex_row();
            @include flex_center();

        }
        animation: Loading_animation 2s infinite forwards    ;
        -webkit-animation: Loading_animation 2s infinite forwards    ;
}    

}
.Post_Component {
    @include Newtype();
    @include Share();
    @include Component();
}
// Colors
body.ColorTheme_1 .Null_Post_Component{color: $first_color;}
body.ColorTheme_1 .Loading_Post_Component{
    background-color: $secound_color;
    .Content .background{
        background-color: #8080803d;
        @include Loader($first_color)
    }
}
body.ColorTheme_1 .Post_Component{
    background-color: $secound_color;
    .UserInfo{
        .Username{color: $fifth_color;}
        .Time{color: $fifth_color;}
        .Setting svg{color: $fifth_color;}
    }
    .Content .Text {color: $fifth_color;}
    .Analysis {
        .Likes .ReactsNumber{color: $fifth_color;}
        .Comments {color: $fifth_color;}
    }
    .Actions .Item{
        &.Reacts{
            .Icons{background-color: $secound_color;}
            &.Like{color:$secound_color; background-color: $first_color;}
            &.Love{color:$secound_color; background-color: #d42828   ;}
        }
        color: $fifth_color; border-color: $eight_color;}
    .Share .New {border-color: $eight_color;}
}
// Key Frames
@keyframes Loading_animation{
    0%{opacity: 100%;}
    50%{opacity: 50%;}
    100%{opacity: 100%;}
}
