@import "../../Helper/all.scss";
$padding : pxtoem(10px);
@mixin Userinfo() {
    .top {
        @include flex_row();
        align-items: center;
        justify-content: space-between;
        .info {
            @include flex_row();
            align-items: center;
            cursor: pointer;
            img {@include person_pic(5px) }
            .username {
                font-size: pxtoem(14px);
                font-weight: 500;
                margin: pxtoem(0px) pxtoem(10px);
            }
            .time {
                font-size: pxtoem(11px);
            }
        }
        .posttopright {
            cursor: pointer; 
            svg{font-size: pxtoem(18px);}
        }
    }
}
@mixin content() {
    .content {
        .text {
            margin: pxtoem(0px) pxtoem(10px);
            font-size: pxtoem(15px);
        }

        img {
            margin-top: pxtoem(10px);
            width: 100%;
            max-height: pxtoem(500px);
            object-fit: contain;
        }
    }
}

@mixin reactions() {
    .reactions {
        @include flex_row();
        align-items: center;
        justify-content: space-between;
        .likes {
            @include flex_row();
            align-items: center;
            .likeicon {
                @include square(17px);
                margin-right: pxtoem(5px);
                cursor: pointer;
            }
            .reacts {
                font-size: pxtoem(13px);
            }
        }
        .comments {
            cursor: pointer;
            font-size: pxtoem(13px);
        }
    }
}
    ///actions
    @mixin Reacts(){
        .item.Reacts{
            .icons{
                    position: absolute;
                    img {@include square(27px)};
                    bottom: calc(100% + 5px);
                    padding: 2px 2px;
                    @include flex_row();
                    gap: pxtoem(10px);
                    @include shadow(1px, 1px);
                    @include border(50px);
                    padding: pxtoem(4px);
                    align-items: center;
                    img:hover {
                        @include square(35px)
                    }
                }
            &.Like , &.Love{
                @include border(10px);
                border-color: none;
            }
        }
    }
@mixin actions() {
    .actions {
        @include flex_row();
        margin-top: pxtoem(5px);
        position: relative;
        .item {
            flex-basis: 33%;
            text-align: center;
            font-size: pxtoem(14px);
            border-right: pxtoem(0.5px) solid ;
            cursor: pointer;
            padding: pxtoem(3px) 0px;
        }
        @include Reacts();
    }
}
@mixin Newtype(){
    .New {
        background-color: white;
        padding: $padding;
        gap: pxtoem(10px);
        @include shadow(2px, 2px);
        @include border(10px);
        @include flex_column();
        @include Userinfo();
        @include content();
        @include reactions();
        @include actions();
    }
}
@mixin Share(){
    .Share {
            @include Userinfo();
            @include content();
            @include reactions();
            @include actions();

            @include Newtype();

            @include shadow(2px, 2px);
            @include flex_column();
            gap: pxtoem(10px);
            padding : $padding;
            .New {
                border: pxtoem(1px) solid ;
                margin: 0px auto;
                box-shadow: none;
                font-size: pxtoem(12px);
                width: calc(95% - (2 *$padding));
                .top .info img{@include person_pic()}
            }
        }
}
.Post_Component {
    margin: pxtoem(10px) 0px;
    @include border(10px);
    @include Newtype();
    @include Share();
    width: 100%;
}

body.ColorTheme_1 .Post_Component{
    background-color: $secound_color;
    .top{
        .username{color: $fifth_color;}
        .time{color: $fifth_color;}
        .posttopright svg{color: $fifth_color;}
    }
    .content .text {color: $fifth_color;}
    .reactions {
        .likes .reacts{color: $fifth_color;}
        .comments {color: $fifth_color;}
    }
    .actions .item{
        &.Reacts{
            .icons{background-color: $secound_color;}
            &.Like{color:$secound_color; background-color: $first_color;}
            &.Love{color:$secound_color; background-color: #d42828   ;}
        }
        color: $fifth_color; border-color: $eight_color;}
    .Share .New {border-color: $eight_color;}
}
