@import "../../Helper/all.scss";
@import "../../Small_Helper_Components/Setting/Setting.scss";


@mixin Userinfo() {
    .UserInfo {
        @include flex_row();
        align-items: center;
        justify-content: space-between;
        .Info {
            @include flex_row();
            align-items: center;
            cursor: pointer;
            img {@include person_pic(40px)}
            .Username {
                font-size: pxtoem(14px); font-weight: 500;
                margin: 0px pxtoem(10px);
            }
            .Time {font-size: pxtoem(11px);}
        }
        @include Setting();
    }
}
@mixin Analysis() {
    .Analysis {
        @include flex_row();
        align-items: center;
        justify-content: space-between;
        .Likes {
            @include flex_row();
            align-items: center;
            .Reactions{
                .Icon {
                        @include square(17px);
                        margin-right: pxtoem(5px);
                        cursor: pointer;
                    }
            }
            .ReactsNumber {font-size: pxtoem(13px);}
        }
        .Left{
            @include flex_row();
            align-items: center;
            gap: pxtoem(5px);
            span {
                    cursor: pointer;
                    font-size: pxtoem(13px);
                }
        }
    }
}
@mixin Reacts(){
    .Item.Reacts{
        .Icons{
                position: absolute;
                img {@include square(27px)};
                bottom: calc(100% + 5px);
                padding: pxtoem(4px);
                align-items: center;
                gap: pxtoem(10px);
                @include flex_row();
                @include shadow(1px, 1px);
                @include border(50px);
                img:hover {
                    @include square(35px)
                }
            }
        &.Like , &.Love{
            @include border(10px);
            border-color: none;
        }
    }
}
@mixin Actions() {
    .Actions {
        @include flex_row();
        margin-top: pxtoem(5px);
        position: relative;
        .Item {
            flex-basis: 33%;
            text-align: center;
            font-size: pxtoem(14px);
            border-right: pxtoem(0.5px) solid ;
            cursor: pointer;
            padding: pxtoem(3px) 0px;
        }
        @include Reacts();
    }
}
@mixin Newtype(){
    .New {
        background-color: white;
        padding: pxtoem(10px);
        gap: pxtoem(10px);
        @include shadow(2px, 2px);
        @include border(10px);
        @include flex_column();

        @include Userinfo();
        @include Analysis();
        @include Actions();
    }
}
@mixin Share(){
    .Share {
            @include Userinfo();
            @include Analysis();
            @include Actions();

            @include Newtype();

            @include shadow(2px, 2px);
            @include flex_column();
            gap: pxtoem(10px);
            padding : pxtoem(10px);
            > .New {
                border: pxtoem(1px) solid ;
                margin: 0px auto;
                box-shadow: none;
                font-size: pxtoem(13px);
                width: 98%;
                .UserInfo .Info img{@include person_pic()}
            }
        }
}
@mixin Component{
    margin: pxtoem(10px) 0px;
    width: 100%;
    @include border(10px);
}
// Post Kind
@mixin Content() {
    .Content {
        @include flex_column();
        justify-content: center;

        .Text {
            margin: 0px pxtoem(10px);
            font-size: pxtoem(15px);
            overflow-wrap: break-word;
        }

        img {
            margin-top: pxtoem(10px);
            width: 100%;
            max-height: pxtoem(500px);
            object-fit: contain;
        }
    }
}
@mixin Voting(){
    .Voting{
        .Question{
            font-size: pxtoem(16px);
            padding: pxtoem(5px) pxtoem(0px);
        }
        .Options{
            display: flex;
            flex-direction: column;
            margin: 0px pxtoem(10px);
            gap: pxtoem(10px);
            .Option{
                display: flex;
                align-items: center;
                gap: pxtoem(10px);
                padding: pxtoem(5px) pxtoem(10px);
                @include border(10px);
                .info{
                    display: flex;
                    justify-content: space-between;
                    flex: 1;
                    .text{
                        font-size: pxtoem(15px);
                    
                    }
                    .Number_of_Vots{font-size: pxtoem(14px);}
                }
            }
        }
    }
}
// Options
.Null_Post_Component{
    font-size: pxtoem(16px);
    font-weight: 500;
    text-align: center;
    margin: pxtoem(30px) 0px ;
    text-transform: capitalize;
    
}
.Loading_Post_Component{
    @include Userinfo();
    @include Component();
    .Loading_Content{
        width: 100%;
        display: flex;
        justify-content: center;
        .background{
            margin: pxtoem(10px) 0px;
            width: 95%;
            height: pxtoem(200px);
            object-fit: contain;
            @include flex_row();
            @include flex_center();
        }
        animation: Loading_animation 2s infinite forwards    ;
        -webkit-animation: Loading_animation 2s infinite forwards    ;
}    

}
.Post_Component {
    @include Newtype();
    @include Share();
    @include Content();
    @include Voting();
    @include Component();
}
// Colors
body.ColorTheme_1 .Null_Post_Component{color: $first_color;}
body.ColorTheme_1 .Loading_Post_Component{
    background-color: $secound_color;
    .Loading_Content .background{
        background-color: #8080803d;
        @include Loader($first_color)
    }
}
body.ColorTheme_1 .Post_Component{
    background-color: $secound_color;
    .UserInfo{
        .Username{color: $fifth_color;}
        .Time{color: $fifth_color;}
        .Setting svg{color: $fifth_color;}
    }
    .Voting  .Options .Option{background-color: rgb(112 75 8 / 8%);}
    .Content .Text {color: $fifth_color;}
    .Analysis {
        .Likes .ReactsNumber{color: $fifth_color;}
        .Left span {color: $fifth_color;}
    }
    .Actions .Item{
        &.Reacts{
            .Icons{background-color: $secound_color;}
            &.Like{color:$secound_color; background-color: $first_color;}
            &.Love{color:$secound_color; background-color: #d42828   ;}
        }
        color: $fifth_color; border-color: $eight_color;}
    .Share .New {border-color: $eight_color;}
}
// Key Frames
@keyframes Loading_animation{
    0%{opacity: 100%;}
    50%{opacity: 50%;}
    100%{opacity: 100%;}
}
