@import "../../Helper/all.scss";

@mixin Userinfo() {
    .top {
        @include flex_row();
        align-items: center;
        justify-content: space-between;

        .info {
            @include flex_row();
            align-items: center;

            img {
                @include person_pic(5px)
            }

            .username {
                font-size: pxtoem(14px);
                font-weight: 500;
                margin: 0px pxtoem(10px);
            }

            .time {
                font-size: pxtoem(12px);
            }
        }

        .posttopright {}
    }
}

@mixin content() {
    .content {
        .text {
            margin: 0px 10px;
        }

        img {
            margin-top: pxtoem(10px);
            width: 100%;
            max-height: 500px;
            object-fit: contain;
        }
    }
}

@mixin reactions() {
    .reactions {
        @include flex_row();
        align-items: center;
        justify-content: space-between;

        .likes {
            @include flex_row();
            align-items: center;

            .likeicon {
                @include square(20px);
                margin-right: pxtoem(5px);
                cursor: pointer;
            }

            .reacts {
                font-size: pxtoem(14px);
            }
        }

        .comments {
            cursor: pointer;
            font-size: pxtoem(14px);
        }
    }
}

@mixin actions() {
    .actions {
        @include flex_row();
        margin-top: 5px;
        ;

        .item {
            flex-basis: 33%;
            text-align: center;
        }
    }
}

.post {
    $padding : pxtoem(10px);
    width: calc($maxPostwidth - (2 * $padding));
    margin: pxtoem(10px) 0px;
    @include border(10px);
    @include shadow(2px, 2px);
    background-color: white;
    padding: $padding;
    gap: 10px;
    @include flex_column();
    @include Userinfo();
    @include content();
    @include reactions();
    @include actions();
}