.Null_Post_Component {
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  margin: 1.875em 0px;
  text-transform: capitalize;
}

.Loading_Post_Component {
  margin: 0.625em 0px;
  width: 100%;
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
}
.Loading_Post_Component .UserInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Loading_Post_Component .UserInfo .Info {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.Loading_Post_Component .UserInfo .Info img {
  width: 2.5em;
  height: 2.5em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}
.Loading_Post_Component .UserInfo .Info .Username {
  font-size: 0.875em;
  font-weight: 500;
  margin: 0px 0.625em;
}
.Loading_Post_Component .UserInfo .Info .Time {
  font-size: 0.6875em;
}
.Loading_Post_Component .UserInfo .Setting {
  position: relative;
  height: 100%;
}
.Loading_Post_Component .UserInfo .Setting svg {
  font-size: 1.125em;
  cursor: pointer;
}
.Loading_Post_Component .UserInfo .Setting .Setting_Box {
  z-index: 9000;
  position: absolute;
  right: 0px;
  top: 0.625em;
  background-color: rgb(255, 255, 255);
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  box-shadow: 0.1875em 0.1875em 0.8125em -0.5em rgba(0, 0, 0, 0.68);
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
}
.Loading_Post_Component .UserInfo .Setting .Setting_Box .container {
  min-width: 12.5em;
}
.Loading_Post_Component .UserInfo .Setting .Setting_Box .container ul {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  text-transform: capitalize;
}
.Loading_Post_Component .UserInfo .Setting .Setting_Box .container ul li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.299);
  cursor: pointer;
  padding: 5px 3px 10px;
  font-size: 0.8125em;
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
}
.Loading_Post_Component .UserInfo .Setting .Setting_Box .container ul li:hover {
  background-color: rgba(128, 128, 128, 0.051);
}
.Loading_Post_Component .UserInfo .Setting .Setting_Box .container ul li:last-child {
  border-bottom: none;
}
.Loading_Post_Component .Loading_Content {
  width: 100%;
  display: flex;
  justify-content: center;
  animation: Loading_animation 2s infinite forwards;
  -webkit-animation: Loading_animation 2s infinite forwards;
}
.Loading_Post_Component .Loading_Content .background {
  margin: 0.625em 0px;
  width: 95%;
  height: 12.5em;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Post_Component {
  margin: 0.625em 0px;
  width: 100%;
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
}
.Post_Component .New {
  background-color: white;
  padding: 0.625em;
  gap: 0.625em;
  box-shadow: 0.125em 0.125em 1em -0.5em rgba(0, 0, 0, 0.68);
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  display: flex;
  flex-direction: column;
}
.Post_Component .New .UserInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Post_Component .New .UserInfo .Info {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.Post_Component .New .UserInfo .Info img {
  width: 2.5em;
  height: 2.5em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}
.Post_Component .New .UserInfo .Info .Username {
  font-size: 0.875em;
  font-weight: 500;
  margin: 0px 0.625em;
}
.Post_Component .New .UserInfo .Info .Time {
  font-size: 0.6875em;
}
.Post_Component .New .UserInfo .Setting {
  position: relative;
  height: 100%;
}
.Post_Component .New .UserInfo .Setting svg {
  font-size: 1.125em;
  cursor: pointer;
}
.Post_Component .New .UserInfo .Setting .Setting_Box {
  z-index: 9000;
  position: absolute;
  right: 0px;
  top: 0.625em;
  background-color: rgb(255, 255, 255);
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  box-shadow: 0.1875em 0.1875em 0.8125em -0.5em rgba(0, 0, 0, 0.68);
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
}
.Post_Component .New .UserInfo .Setting .Setting_Box .container {
  min-width: 12.5em;
}
.Post_Component .New .UserInfo .Setting .Setting_Box .container ul {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  text-transform: capitalize;
}
.Post_Component .New .UserInfo .Setting .Setting_Box .container ul li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.299);
  cursor: pointer;
  padding: 5px 3px 10px;
  font-size: 0.8125em;
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
}
.Post_Component .New .UserInfo .Setting .Setting_Box .container ul li:hover {
  background-color: rgba(128, 128, 128, 0.051);
}
.Post_Component .New .UserInfo .Setting .Setting_Box .container ul li:last-child {
  border-bottom: none;
}
.Post_Component .New .Analysis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Post_Component .New .Analysis .Likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Post_Component .New .Analysis .Likes .Reactions .Icon {
  width: 1.0625em;
  height: 1.0625em;
  margin-right: 0.3125em;
  cursor: pointer;
}
.Post_Component .New .Analysis .Likes .ReactsNumber {
  font-size: 0.8125em;
}
.Post_Component .New .Analysis .Left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3125em;
}
.Post_Component .New .Analysis .Left span {
  cursor: pointer;
  font-size: 0.8125em;
}
.Post_Component .New .Actions {
  display: flex;
  flex-direction: row;
  margin-top: 0.3125em;
  position: relative;
}
.Post_Component .New .Actions .Item {
  flex-basis: 33%;
  text-align: center;
  font-size: 0.875em;
  border-right: 0.03125em solid;
  cursor: pointer;
  padding: 0.1875em 0px;
}
.Post_Component .New .Actions .Item.Reacts .Icons {
  position: absolute;
  bottom: calc(100% + 5px);
  padding: 0.25em;
  align-items: center;
  gap: 0.625em;
  display: flex;
  flex-direction: row;
  box-shadow: 0.0625em 0.0625em 1em -0.5em rgba(0, 0, 0, 0.68);
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}
.Post_Component .New .Actions .Item.Reacts .Icons img {
  width: 1.6875em;
  height: 1.6875em;
}
.Post_Component .New .Actions .Item.Reacts .Icons img:hover {
  width: 2.1875em;
  height: 2.1875em;
}
.Post_Component .New .Actions .Item.Reacts.Like, .Post_Component .New .Actions .Item.Reacts.Love {
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-color: none;
}
.Post_Component .Share {
  box-shadow: 0.125em 0.125em 1em -0.5em rgba(0, 0, 0, 0.68);
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  padding: 0.625em;
}
.Post_Component .Share .UserInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Post_Component .Share .UserInfo .Info {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.Post_Component .Share .UserInfo .Info img {
  width: 2.5em;
  height: 2.5em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}
.Post_Component .Share .UserInfo .Info .Username {
  font-size: 0.875em;
  font-weight: 500;
  margin: 0px 0.625em;
}
.Post_Component .Share .UserInfo .Info .Time {
  font-size: 0.6875em;
}
.Post_Component .Share .UserInfo .Setting {
  position: relative;
  height: 100%;
}
.Post_Component .Share .UserInfo .Setting svg {
  font-size: 1.125em;
  cursor: pointer;
}
.Post_Component .Share .UserInfo .Setting .Setting_Box {
  z-index: 9000;
  position: absolute;
  right: 0px;
  top: 0.625em;
  background-color: rgb(255, 255, 255);
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  box-shadow: 0.1875em 0.1875em 0.8125em -0.5em rgba(0, 0, 0, 0.68);
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
}
.Post_Component .Share .UserInfo .Setting .Setting_Box .container {
  min-width: 12.5em;
}
.Post_Component .Share .UserInfo .Setting .Setting_Box .container ul {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  text-transform: capitalize;
}
.Post_Component .Share .UserInfo .Setting .Setting_Box .container ul li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.299);
  cursor: pointer;
  padding: 5px 3px 10px;
  font-size: 0.8125em;
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
}
.Post_Component .Share .UserInfo .Setting .Setting_Box .container ul li:hover {
  background-color: rgba(128, 128, 128, 0.051);
}
.Post_Component .Share .UserInfo .Setting .Setting_Box .container ul li:last-child {
  border-bottom: none;
}
.Post_Component .Share .Analysis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Post_Component .Share .Analysis .Likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Post_Component .Share .Analysis .Likes .Reactions .Icon {
  width: 1.0625em;
  height: 1.0625em;
  margin-right: 0.3125em;
  cursor: pointer;
}
.Post_Component .Share .Analysis .Likes .ReactsNumber {
  font-size: 0.8125em;
}
.Post_Component .Share .Analysis .Left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3125em;
}
.Post_Component .Share .Analysis .Left span {
  cursor: pointer;
  font-size: 0.8125em;
}
.Post_Component .Share .Actions {
  display: flex;
  flex-direction: row;
  margin-top: 0.3125em;
  position: relative;
}
.Post_Component .Share .Actions .Item {
  flex-basis: 33%;
  text-align: center;
  font-size: 0.875em;
  border-right: 0.03125em solid;
  cursor: pointer;
  padding: 0.1875em 0px;
}
.Post_Component .Share .Actions .Item.Reacts .Icons {
  position: absolute;
  bottom: calc(100% + 5px);
  padding: 0.25em;
  align-items: center;
  gap: 0.625em;
  display: flex;
  flex-direction: row;
  box-shadow: 0.0625em 0.0625em 1em -0.5em rgba(0, 0, 0, 0.68);
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}
.Post_Component .Share .Actions .Item.Reacts .Icons img {
  width: 1.6875em;
  height: 1.6875em;
}
.Post_Component .Share .Actions .Item.Reacts .Icons img:hover {
  width: 2.1875em;
  height: 2.1875em;
}
.Post_Component .Share .Actions .Item.Reacts.Like, .Post_Component .Share .Actions .Item.Reacts.Love {
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-color: none;
}
.Post_Component .Share .New {
  background-color: white;
  padding: 0.625em;
  gap: 0.625em;
  box-shadow: 0.125em 0.125em 1em -0.5em rgba(0, 0, 0, 0.68);
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  display: flex;
  flex-direction: column;
}
.Post_Component .Share .New .UserInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Post_Component .Share .New .UserInfo .Info {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.Post_Component .Share .New .UserInfo .Info img {
  width: 2.5em;
  height: 2.5em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}
.Post_Component .Share .New .UserInfo .Info .Username {
  font-size: 0.875em;
  font-weight: 500;
  margin: 0px 0.625em;
}
.Post_Component .Share .New .UserInfo .Info .Time {
  font-size: 0.6875em;
}
.Post_Component .Share .New .UserInfo .Setting {
  position: relative;
  height: 100%;
}
.Post_Component .Share .New .UserInfo .Setting svg {
  font-size: 1.125em;
  cursor: pointer;
}
.Post_Component .Share .New .UserInfo .Setting .Setting_Box {
  z-index: 9000;
  position: absolute;
  right: 0px;
  top: 0.625em;
  background-color: rgb(255, 255, 255);
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  box-shadow: 0.1875em 0.1875em 0.8125em -0.5em rgba(0, 0, 0, 0.68);
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
}
.Post_Component .Share .New .UserInfo .Setting .Setting_Box .container {
  min-width: 12.5em;
}
.Post_Component .Share .New .UserInfo .Setting .Setting_Box .container ul {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  text-transform: capitalize;
}
.Post_Component .Share .New .UserInfo .Setting .Setting_Box .container ul li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.299);
  cursor: pointer;
  padding: 5px 3px 10px;
  font-size: 0.8125em;
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
}
.Post_Component .Share .New .UserInfo .Setting .Setting_Box .container ul li:hover {
  background-color: rgba(128, 128, 128, 0.051);
}
.Post_Component .Share .New .UserInfo .Setting .Setting_Box .container ul li:last-child {
  border-bottom: none;
}
.Post_Component .Share .New .Analysis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Post_Component .Share .New .Analysis .Likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Post_Component .Share .New .Analysis .Likes .Reactions .Icon {
  width: 1.0625em;
  height: 1.0625em;
  margin-right: 0.3125em;
  cursor: pointer;
}
.Post_Component .Share .New .Analysis .Likes .ReactsNumber {
  font-size: 0.8125em;
}
.Post_Component .Share .New .Analysis .Left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3125em;
}
.Post_Component .Share .New .Analysis .Left span {
  cursor: pointer;
  font-size: 0.8125em;
}
.Post_Component .Share .New .Actions {
  display: flex;
  flex-direction: row;
  margin-top: 0.3125em;
  position: relative;
}
.Post_Component .Share .New .Actions .Item {
  flex-basis: 33%;
  text-align: center;
  font-size: 0.875em;
  border-right: 0.03125em solid;
  cursor: pointer;
  padding: 0.1875em 0px;
}
.Post_Component .Share .New .Actions .Item.Reacts .Icons {
  position: absolute;
  bottom: calc(100% + 5px);
  padding: 0.25em;
  align-items: center;
  gap: 0.625em;
  display: flex;
  flex-direction: row;
  box-shadow: 0.0625em 0.0625em 1em -0.5em rgba(0, 0, 0, 0.68);
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}
.Post_Component .Share .New .Actions .Item.Reacts .Icons img {
  width: 1.6875em;
  height: 1.6875em;
}
.Post_Component .Share .New .Actions .Item.Reacts .Icons img:hover {
  width: 2.1875em;
  height: 2.1875em;
}
.Post_Component .Share .New .Actions .Item.Reacts.Like, .Post_Component .Share .New .Actions .Item.Reacts.Love {
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-color: none;
}
.Post_Component .Share > .New {
  border: 0.0625em solid;
  margin: 0px auto;
  box-shadow: none;
  font-size: 0.8125em;
  width: 98%;
}
.Post_Component .Share > .New .UserInfo .Info img {
  width: 2.1875em;
  height: 2.1875em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}
.Post_Component .Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Post_Component .Content .Text {
  margin: 0px 0.625em;
  font-size: 0.9375em;
  overflow-wrap: break-word;
}
.Post_Component .Content img {
  margin-top: 0.625em;
  width: 100%;
  max-height: 31.25em;
  -o-object-fit: contain;
     object-fit: contain;
}
.Post_Component .Voting .Question {
  font-size: 1em;
  padding: 0.3125em 0em;
}
.Post_Component .Voting .Options {
  display: flex;
  flex-direction: column;
  margin: 0px 0.625em;
  gap: 0.625em;
}
.Post_Component .Voting .Options .Option {
  display: flex;
  align-items: center;
  gap: 0.625em;
  padding: 0.3125em 0.625em;
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
}
.Post_Component .Voting .Options .Option .info {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.Post_Component .Voting .Options .Option .info .text {
  font-size: 0.9375em;
}
.Post_Component .Voting .Options .Option .info .Number_of_Vots {
  font-size: 0.875em;
}

body.ColorTheme_1 .Null_Post_Component {
  color: #1877f2;
}

body.ColorTheme_1 .Loading_Post_Component {
  background-color: white;
}
body.ColorTheme_1 .Loading_Post_Component .Loading_Content .background {
  background-color: rgba(128, 128, 128, 0.2392156863);
}
body.ColorTheme_1 .Loading_Post_Component .Loading_Content .background .loader {
  width: 48px;
  height: 48px;
  border: 5px solid #1877f2;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body.ColorTheme_1 .Post_Component {
  background-color: white;
}
body.ColorTheme_1 .Post_Component .UserInfo .Username {
  color: black;
}
body.ColorTheme_1 .Post_Component .UserInfo .Time {
  color: black;
}
body.ColorTheme_1 .Post_Component .UserInfo .Setting svg {
  color: black;
}
body.ColorTheme_1 .Post_Component .Voting .Options .Option {
  background-color: rgba(112, 75, 8, 0.08);
}
body.ColorTheme_1 .Post_Component .Content .Text {
  color: black;
}
body.ColorTheme_1 .Post_Component .Analysis .Likes .ReactsNumber {
  color: black;
}
body.ColorTheme_1 .Post_Component .Analysis .Left span {
  color: black;
}
body.ColorTheme_1 .Post_Component .Actions .Item {
  color: black;
  border-color: rgba(0, 0, 0, 0.408);
}
body.ColorTheme_1 .Post_Component .Actions .Item.Reacts .Icons {
  background-color: white;
}
body.ColorTheme_1 .Post_Component .Actions .Item.Reacts.Like {
  color: white;
  background-color: #1877f2;
}
body.ColorTheme_1 .Post_Component .Actions .Item.Reacts.Love {
  color: white;
  background-color: #d42828;
}
body.ColorTheme_1 .Post_Component .Share .New {
  border-color: rgba(0, 0, 0, 0.408);
}

@keyframes Loading_animation {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}/*# sourceMappingURL=Post.css.map */