@import "../../../Helper/all.scss";
@import "../Commen/Commen.scss";

@mixin timer(){
    div.timer{
        $border : 50px;
        $diff   : pxtoem(10px);
        @include border(50px);
        @include square(40px);
        div.Bigcircle {
            height: 100%;
            @include border(50px);
            background-color: green;
            @include flex_row();
            @include flex_center();
            div.Smallcircle{
                background-color: white;
                height: calc(100% - $diff);
                width: calc(100% - $diff);
                @include flex_row();
                @include flex_center();
                @include border($border);
                p{font-size: pxtoem(18px);}
            }
        }
    }
}
@mixin firstShap(){
    .FirstShap{
        width: 100%;
        height: 100%;
        gap: pxtoem(30px);
        overflow-y: scroll;
        @include form();
        @include header();
        @include button();
        @include flex_column();
        @include flex_center();
        &::-webkit-scrollbar {
                width: 0px;
            }
    }
}
.RegisterComponent  {
    max-height: 80%;
    min-width :50%;
    width: fit-content;
    >.container{
            overflow: hidden;
            font-size: pxtoem(17px);
            width: 100%;
            position: relative;
            @include firstShap();
            @include FinishProcess();
    }
}