.Register_Component {
  max-height: 80%;
  min-width: 50%;
  width: -moz-fit-content;
  width: fit-content;
}
.Register_Component > .container {
  overflow: hidden;
  font-size: 1.0625em;
  width: 100%;
  position: relative;
}
.Register_Component > .container .FirstShap {
  width: 100%;
  height: 100%;
  gap: 1.875em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Register_Component > .container .FirstShap form {
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: 1.25em;
  display: flex;
  flex-direction: column;
}
.Register_Component > .container .FirstShap form .inputbox {
  display: flex;
  flex-direction: column;
  gap: 0.3125em;
  width: 90%;
  align-items: center;
}
.Register_Component > .container .FirstShap form .inputbox .label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 0.875em;
  align-items: center;
}
.Register_Component > .container .FirstShap form .inputbox .label input {
  width: 0.875em;
}
.Register_Component > .container .FirstShap form .inputbox input {
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 18.75em;
  padding: 0.375em 0px;
  border: none;
  text-indent: 0.625em;
  outline: none;
  color: black;
  border: 0.0625em solid #1877f2;
  font-size: 0.625em;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}
.Register_Component > .container .FirstShap form .inputbox input::-moz-placeholder {
  color: #1877f2;
}
.Register_Component > .container .FirstShap form .inputbox input::placeholder {
  color: #1877f2;
}
.Register_Component > .container .FirstShap form .inputbox input[type=checkbox] {
  min-width: 10px;
  min-height: 10px;
  width: 1.25em;
  height: 1.25em;
}
.Register_Component > .container .FirstShap .header {
  color: goldenrod;
  font-weight: 500;
  font-size: 1.5625em;
  text-transform: capitalize;
}
.Register_Component > .container .FirstShap button {
  padding: 0.3125em 0.625em;
  border: none;
  background-color: rgba(194, 194, 194, 0.232);
  color: black;
  font-weight: 500;
  width: 9.375em;
  text-transform: capitalize;
  margin: 0px 0.3125em;
  font-size: 0.8125em;
  background-color: #1877f2;
  color: white;
  cursor: pointer;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}
.Register_Component > .container .FirstShap::-webkit-scrollbar {
  width: 0px;
}
.Register_Component > .container .SuccessProcess_Component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625em;
}
.Register_Component > .container .SuccessProcess_Component svg {
  font-size: 6.25em;
  color: green;
}
.Register_Component > .container .SuccessProcess_Component p {
  color: black;
  font-size: 0.875em;
}
.Register_Component > .container .SuccessProcess_Component button {
  padding: 0.3125em 0.625em;
  border: none;
  background-color: rgba(194, 194, 194, 0.232);
  color: black;
  font-weight: 500;
  width: 9.375em;
  text-transform: capitalize;
  margin: 0px 0.3125em;
  font-size: 0.8125em;
  background-color: #1877f2;
  color: white;
  cursor: pointer;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}/*# sourceMappingURL=Register.css.map */