@import "../../Helper/all.scss";

$wave_height: 15%;

@mixin translate_center() {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
@mixin rotate(){
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
@mixin Waves(){
    .Wave {
            width: 100vw;
            max-height: $wave_height;
            filter: drop-shadow(1px 2px 2px gray);
        }
    .Wave.Bottom {
        @include rotate();
    }
}
@mixin Appcontent(){
    .Appcontent {
        @include border(50px);
        @include flex_column();
        @include shadow(3px, 3px);
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50%;
        position: absolute;
        z-index: 1000;
        background-color: white;
        left: 0%;   
        gap: pxtoem(10px);
        .slogan {
            font-size: pxtoem(18px);
            color: goldenrod;
            font-weight: 500;
            text-transform: capitalize;
            font-family: cursive;
        }
        img {width: 40%;}
        &.right {
            @include shadow(-3px, 0px);
                animation: Appcontent_positionto_right 0.5s ease-in-out forwards;
                -webkit-animation: Appcontent_positionto_right 0.5s ease-in-out forwards;
        }
        &.left {
            @include shadow(3px, 3px);
                animation: Appcontent_positionto_left 0.5s ease-in-out forwards;
                -webkit-animation: Appcontent_positionto_left 0.5s ease-in-out forwards;
}
    }

}
.LoginPage{
    @include flex_column();
    justify-content: space-between;
    height: 100vh;
    @include Waves();
    >.Box {
            z-index: 1000;
            @include flex_row();
            align-items: center;
            background-color: white;
            max-width: 1000px;
            max-height: 70%;
            height: 500px;
            width: 90vw;
            position: absolute;
            top: 50%;
            left: 50%;
            @include translate_center();
            @include border(50px);
            @include shadow(5px, 5px);
            >.container{
                @include flex_row();
                align-items: center;
                position: relative;
                justify-content: end;
                width: 100%;
                height:100%;
                @include Appcontent();
                .rightbox , .leftbox{
                    width: 50%; height: 100%;
                    @include flex_column();
                    @include flex_center();
                }
            }
        }

}

@keyframes Appcontent_positionto_right {
    0%{
        left: 0%;
    }
    100%{
        left: 50%;
    }
}
@keyframes Appcontent_positionto_left {
    0% {
        left: 50%;
    }
    100% {
        left: 0%;
    }
}