.AssuntocationPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.AssuntocationPage .Wave {
  width: 100vw;
  max-height: 15%;
  filter: drop-shadow(1px 2px 2px gray);
}
.AssuntocationPage .Wave.Bottom {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.AssuntocationPage > .Box {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  max-width: 1000px;
  max-height: 70%;
  height: 500px;
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
  box-shadow: 5px 5px 16px -8px rgba(0, 0, 0, 0.68);
}
.AssuntocationPage > .Box > .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: end;
  width: 100%;
  height: 100%;
}
.AssuntocationPage > .Box > .container .Appcontent {
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 16px -8px rgba(0, 0, 0, 0.68);
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1000;
  background-color: white;
  left: 0%;
  gap: 0.625em;
}
.AssuntocationPage > .Box > .container .Appcontent .slogan {
  font-size: 1.125em;
  color: goldenrod;
  font-weight: 500;
  text-transform: capitalize;
  font-family: cursive;
}
.AssuntocationPage > .Box > .container .Appcontent img {
  width: 40%;
}
.AssuntocationPage > .Box > .container .rightbox, .AssuntocationPage > .Box > .container .leftbox {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AssuntocationPage > .Box > .container.Ar .rightbox, .AssuntocationPage > .Box > .container.Ar .leftbox {
  direction: rtl;
}

@media (min-width: 700px) {
  .Appcontent.right {
    box-shadow: -3px 0px 16px -8px rgba(0, 0, 0, 0.68);
    animation: Appcontent_positionto_right 0.5s ease-in-out forwards;
    -webkit-animation: Appcontent_positionto_right 0.5s ease-in-out forwards;
  }
  .Appcontent.left {
    box-shadow: 3px 3px 16px -8px rgba(0, 0, 0, 0.68);
    animation: Appcontent_positionto_left 0.5s ease-in-out forwards;
    -webkit-animation: Appcontent_positionto_left 0.5s ease-in-out forwards;
  }
}
@media (max-width: 750px) {
  .AssuntocationPage {
    font-size: 0.8125em;
  }
}
@media (max-width: 650px) {
  .AssuntocationPage {
    overflow: hidden;
  }
  .AssuntocationPage > .Box > .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: calc(100% - 20px);
    font-size: 14px;
  }
  .AssuntocationPage > .Box > .container .Appcontent {
    font-size: 0.875em;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    height: -moz-fit-content;
    height: fit-content;
    box-shadow: none !important;
  }
  .AssuntocationPage > .Box > .container .Appcontent img {
    width: 1.875em;
    height: 1.875em;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .AssuntocationPage > .Box > .container .rightbox,
  .AssuntocationPage > .Box > .container .leftbox {
    min-width: 50%;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .AssuntocationPage > .Box > .container .rightbox.active,
  .AssuntocationPage > .Box > .container .leftbox.active {
    display: flex;
  }
}
@media (max-width: 400px) {
  .AssuntocationPage .Box .container {
    font-size: 12px;
  }
}
@keyframes Appcontent_positionto_right {
  0% {
    left: 0%;
  }
  100% {
    left: 50%;
  }
}
@keyframes Appcontent_positionto_left {
  0% {
    left: 50%;
  }
  100% {
    left: 0%;
  }
}/*# sourceMappingURL=Assuntocation.css.map */