.LoginPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.LoginPage .Wave {
  width: 100vw;
  max-height: 15%;
}
.LoginPage .Wave2 {
  width: 100vw;
  max-height: 15%;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.LoginPage .Login {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  max-width: 1000px;
  max-height: 70%;
  height: 500px;
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
  box-shadow: 5px 5px 16px -8px rgba(0, 0, 0, 0.68);
  gap: 10px;
}
.LoginPage .Login div.Appcontent {
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
  height: 100%;
  flex: 48%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 16px -8px rgba(0, 0, 0, 0.68);
}
.LoginPage .Login div.Appcontent p {
  font-size: 18px;
  color: goldenrod;
  font-weight: 500;
  text-transform: capitalize;
  font-family: cursive;
}
.LoginPage .Login div.Appcontent img {
  width: 40%;
}
.LoginPage .Login div.login {
  max-height: 60%;
  flex: 48%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: start;
}
.LoginPage .Login div.login form {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.LoginPage .Login div.login form .inputbox {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 90%;
  justify-content: center;
}
.LoginPage .Login div.login form .inputbox input {
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 50%;
  padding: 6px 0px;
  border: none;
  text-indent: 10px;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
  outline: none;
  color: black;
  border: 1px solid #1877f2;
}
.LoginPage .Login div.login form .inputbox input::-moz-placeholder {
  color: #1877f2;
}
.LoginPage .Login div.login form .inputbox input::placeholder {
  color: #1877f2;
}
.LoginPage .Login div.login p {
  color: goldenrod;
  font-weight: 500;
  font-size: 25px;
}
.LoginPage .Login button {
  padding: 5px 10px;
  border: none;
  background-color: white;
  color: black;
  font-weight: 500;
  text-transform: capitalize;
  border: 0.5px solid black;
  margin: 0px 5px;
  border-radius: 3.125em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
}
.LoginPage > img {
  filter: drop-shadow(1px 2px 2px gray);
}/*# sourceMappingURL=Login.css.map */