@import "../../Helper/all.scss";
@mixin shareoptions() {

    // Styles for the sharebottom div
    .shareoptions {
        @include flex_row();
        justify-content: space-evenly;

        >.item {
            @include flex_row();
            align-items: center;
            margin: pxtoem(5px) pxtoem(15px);
            cursor: pointer;

            svg {
                font-size: pxtoem(18px);
                margin-right: pxtoem(3px);
            }

            .text {
                font-size: pxtoem(14px);
                font-weight: 500;
            }
        }
    }
}

$padding : 10px;
.Share_Component {
    margin-top: 10px;
    max-width: calc($maxPostwidth - (2 * $padding));
    width    : calc($maxPostwidth - (2 * $padding));
    height: fit-content;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    @include border(10px);
    background-color: white;
    padding:$padding;

    .sharetop {
        @include flex_row();
        align-items: center;
        gap: pxtoem(5px);
        .shareprofileimg {
            @include person_pic(5px);
        }
        .shareInput {
            font-size: pxtoem(16px);
            border: none;
            width: 80%;
            outline: none;
        }
    }

    .sharehr {
        margin: pxtoem(10px) 0px;
    }

    @include shareoptions();
}

@media (max-width : 900px) {
    .Share_Component{width    : calc(100% - (2 * $padding));}
}

body.ColorTheme_1 .Share_Component{
    background-color: $secound_color  ;
    .sharetop input{
        background-color: $secound_color;
        ::placeholder{
            color: $sixth_color;
        }
    }
}