@import "../../Helper/all.scss";
@mixin shareoptions() {

    // Styles for the sharebottom div
    .shareoptions {
        @include flex_row();
        justify-content: space-evenly;

        >.item {
            @include flex_row();
            align-items: center;
            margin: pxtoem(5px) pxtoem(15px);
            cursor: pointer;

            svg {
                font-size: pxtoem(18px);
                margin-right: pxtoem(3px);
            }

            .text {
                font-size: pxtoem(14px);
                font-weight: 500;
            }
        }
    }
}

.share {
    $padding : 10px;
    margin-top: 10px;
    width: calc($maxPostwidth - (2 * $padding));
    height: fit-content;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    @include border(10px);
    background-color: white;
    padding: pxtoem($padding);

    .sharetop {
        @include flex_row();
        align-items: center;
        gap: pxtoem(5px);

        .shareprofileimg {
            @include person_pic(5px);
        }

        .shareInput {
            border: none;
            width: 80%;
            outline: none;
        }
    }

    .sharehr {
        margin: pxtoem(10px) 0px;
    }

    @include shareoptions();
}